[Desktop Entry]
Name=appleJuice Collector
GenericName=appleJuice Collector
Comment=appleJuice Collector
Exec=applejuice-collector.collector %u
Icon=${SNAP}/meta/gui/applejuice-collector.png
Terminal=false
Type=Application
Categories=Java;Application;Network;
StartupWMClass=AJCollector
SingleMainWindow=true
